html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.hamburger2 {
  display: none;
}

header {
  background-color: #345231;
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.circle,
.logo-2-container,
.header-img-container {
  width: 50%;
}

.logo-2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-34px, 0);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translate(30px, 0);
}

.header-img-container {
  width: 100%;
  margin-bottom: -50px;
}

.img-header {
  box-shadow: 21px 21px white;
}

.blog-body {
  background-color: #f6f6f6;
}

.header-blog {
  height: 60vh;
}

.img-logo-blog {
  height: 50vh;
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.contact-body {
  background-color: #f6f6f6;
}

.img-logo-contact {
  height: 50vh;
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.who {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.whos {
  background-color: #f6f6f6;
  padding-top: 110px;
}

.favorite-things {
  display: flex;
  flex-direction: row;
}

.img-container {
  background-color: #709b6b;
  width: 50%;
  transform: translate(0, -23px);
  margin-bottom: 24px;
}

.img-favotrite {
  max-width: 640px;
  margin-left: auto;
}

.img-things-container {
  margin-right: 25px;
  transform: translate(0, -23px);
  margin-left: 24px;
}

.img-things {
  width: 95%;
}

.bigger-box {
  width: 50%;
}

.txt-things-container {
  max-width: 640px;
  margin-right: auto;
  margin-left: 100px;
}

.img-things {
  width: 100%;
}

.bucket-container {
  display: flex;
  flex-direction: row;
}

.img-container-bucket {
  background-color: #709b6b;
  width: 50%;
  transform: translate(0, 43px);
}

.img-bucket-container {
  margin-top: -20px;
  margin-right: 20px;
}

.bucket {
  max-width: 640px;
  margin-right: auto;
}

.txt-buket-container-1 {
  width: 50%;
  text-align: end;
}

.txt-bucket-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: 100px;
}

.img-bucket {
  width: 100%;
  margin-left: -20px;
  padding-bottom: 17px;
}

.menu-Li, .hamburger, .fa-plane-alt {
  display: none;
  cursor: pointer;
  background: none;
}

.ul-container, .ul-container-blog {
  display: flex;
  justify-content: space-around;
  width: 70%;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.ul-container-blog {
  height: 10vh;
}

li, .ul-container-blog li {
  list-style: none;
}
li a, .ul-container-blog li a {
  color: #f6f6f6;
  transition: 0.5s ease;
}
li a:hover, .ul-container-blog li a:hover {
  color: #e4a436;
}

.fa-bars:hover, .fa-bars:focus {
  color: #e4a436;
}

.fa-minus-square, .fa-minus-square {
  transition: 0.5s ease;
}

html {
  font-size: 125%;
}

h1 {
  font-size: 3rem;
  color: #f6f6f6;
}

.logo-2 {
  color: #f6f6f6;
  font-size: 6.8rem;
  margin-right: 14px;
}

h2 {
  font-family: "Abril Fatface", cursive;
  color: #1f1f1f;
  font-size: 2rem;
  text-transform: uppercase;
}

p {
  color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  letter-spacing: 0.7px;
  font-size: 1rem;
}

a {
  font-family: "Montserrat", sans-serif;
  line-height: 29px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

i {
  text-align: center;
}

.fa-phone, .fa-user-alt, .fa-desktop, .fa-image {
  color: #1f1f1f;
  background: #e4a436;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 13px;
}

.blog-title {
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
  letter-spacing: 1px;
  line-height: 92px;
  color: #f6f6f6;
  display: flex;
  align-items: end;
  position: relative;
  bottom: -8px;
}

.contact a, .blog-contact a, .about a, .photo-about a {
  font-size: 1.5rem;
  font-family: "Abril Fatface", cursive;
  color: #1f1f1f;
  text-transform: uppercase;
}

.contact a:hover, .blog-contact a:hover, .about a:hover, .photo-about a:hover {
  color: #709b6b;
}

button, .b-index {
  color: #1f1f1f;
  background: #e4a436;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 1px;
  font-size: 1rem;
  height: 50px;
  width: 225px;
  border: 1px #e4a436 solid;
  padding: 10px;
  margin-bottom: 55px;
}

button:hover, button:focus, .whos-willow .who .find:hover, .find:focus, .b-jorney:hover, .b-jorney:focus, .b-index a:hover, .b-index a:focus {
  background-color: #345231;
  color: #f6f6f6;
  border: 1px #345231 solid;
  cursor: pointer;
}

.social-media-contact .social a .fab:hover,
.social-media-contact .social a .fab:hover:focus,
.find:hover, .find:focus {
  text-align: start;
  color: #e4a436;
  cursor: pointer;
}

.pano-img {
  width: 100%;
  margin-bottom: 80px;
}

.image-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-gallery-1, .img-gallery-2, .img-gallery-3 {
  width: 100%;
  padding: 10px;
}

.form-and-social-midia {
  display: flex;
  flex-direction: row;
}

.social-media-contact {
  margin-top: 47px;
  background: white;
  width: 24%;
  padding: 29px;
  margin-right: auto;
  height: 340px;
}

.social-media-contact .social a .fab {
  text-align: start;
  font-size: 1.4rem;
  color: #345231;
}

.email {
  font-weight: bold;
}

.address {
  margin: 0;
}

.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram {
  margin-right: 20px;
}

.about-willow {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 28px;
  margin: 81px 20PX 20px;
}

h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 1, 6rem;
  letter-spacing: 1px;
  margin-top: 30px;
  text-transform: uppercase;
}

.about-willow p {
  margin-top: 0;
}

.find {
  color: #709b6b;
}

.recent {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 28px;
  margin: 81px 20PX 20px;
}

.recent p {
  margin: 6px;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.my-favorite {
  background-color: white;
}

.container-aside-my-favorite {
  display: flex;
  flex-direction: row;
}

aside {
  width: 30%;
}

.my-favorite {
  width: 60%;
  margin: 81px 20PX 20px;
  padding-left: 45px;
  padding-right: 45px;
  border-bottom: 5px solid #709b6b;
}

.img-barb-container, .img-daisy-container {
  width: 50%;
  height: 50%;
  margin: 40px 25px auto 38px;
}

.barb, .daisy {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
  right: 6%;
}

.daisy {
  margin-top: 30px;
}

.container-barb {
  display: flex;
  background: white;
  width: 60%;
  transform: translate(-17px, 0);
}

.container-daizy {
  display: flex;
  background: white;
  width: 60%;
  border-bottom: 5px solid #709b6b;
  transform: translate(-17px, 0);
}

.form-box-contact {
  width: 100%;
}

.social-media-contact {
  background: white;
  margin: 47px 20px auto 70px;
}

.form-contact {
  width: 75%;
}

form {
  width: 769px;
  display: flex;
  flex-direction: column;
  margin-left: 405px;
}

.textarea-button {
  display: flex;
  flex-direction: column;
  width: 62%;
  margin: 0 93px auto auto;
}

textarea {
  width: 100%;
  height: 70%;
  resize: none;
}

.form-b {
  width: 100%;
}

[type=email], [type=text] {
  height: 70px;
  width: 50%;
  margin: 45px 5px 35px 0;
  padding-left: 30px;
}

.form-container {
  display: flex;
}

[id=comment] {
  padding: 30px;
}

.email-name {
  display: flex;
  flex-direction: row;
  width: 62%;
  margin: 0 93px auto auto;
}

.form-b {
  margin-top: 30px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.email-mane-contact {
  width: 100%;
  display: flex;
}

footer {
  background-color: #f6f6f6;
  margin-top: 80px;
  margin-bottom: 0;
  padding-top: 70px;
}

.container-footer {
  display: flex;
  flex-direction: row;
  padding-bottom: 55px;
}

.photo-about, .blog-contact {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.photo-about p, .photo-about h2, .blog-contact p, .blog-contact h2 {
  margin-top: 20px;
  margin-left: 10px;
}

.photo, .about, .blog, .contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

i {
  margin-right: 15px;
}

.p-continer-footer {
  background-color: #1f1f1f;
  text-align: center;
  height: 35px;
  margin: 0;
  padding: 0;
}

.p-footer {
  color: #f6f6f6;
  margin: 0;
}

.footer-blog {
  height: 0;
  margin-top: 0;
}

.footer-contact {
  height: 0;
  margin-top: 0;
}

.content-container {
  display: flex;
  align-items: center;
}

.journey {
  background-color: #f6f6f6;
  padding-top: 80px;
  padding-bottom: 50px;
}

.journey-txt {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.journey-image {
  width: 55%;
}

.journey-txt h2 {
  margin-top: 35px;
}

.img-journey {
  box-shadow: 22px 22px #709b6b;
}

@media (max-width: 1394px) {
  .wrapper {
    max-width: 1091px;
    width: 95%;
  }

  .logo-2 {
    font-size: 5.5rem;
    margin-left: 0;
  }

  .header-img-container {
    margin-right: 93px;
    max-width: 360px;
  }

  .social-media-contact {
    padding: 22px;
    height: 340px;
    background: white;
    margin: 47px 20px auto 0;
  }

  .form-and-social-midia {
    flex-direction: row;
    width: 92%;
    margin: 0 auto;
  }

  .form-contact {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-right: 46px;
    width: 735px;
  }

  .social {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
  }

  .fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram {
    margin-right: 29px;
    margin-top: 14px;
  }
}
@media (max-width: 1245px) {
  .wrapper {
    max-width: 1000px;
    width: 95%;
  }

  .logo-2 {
    font-size: 5rem;
    margin-left: 0;
  }

  .header-img-container {
    margin-right: 93px;
    max-width: 360px;
  }

  .circle {
    transform: translate(-8px, 0);
  }

  .logo-2-container {
    transform: translate(-69px, 0);
  }

  .circle, .logo-2-container, .header-img-container {
    width: 36%;
  }

  .header-img-container {
    margin-right: 152px;
    max-width: 414px;
  }

  .social {
    display: flex;
  }

  .form-contact {
    margin-right: 46px;
  }

  .form-contact {
    width: 710px;
  }

  .container-aside-my-favorite {
    display: flex;
    flex-direction: column;
  }

  .about-willow {
    flex-direction: column;
    padding: 40px;
    margin: 40px auto;
    width: 100%;
    text-align: center;
  }

  aside {
    width: 100%;
    text-align: center;
  }

  .b-blog {
    margin: 0 auto;
  }

  .my-favorite {
    width: 96%;
    margin: 0 auto 30px;
  }

  .container-barb, .container-daizy {
    display: flex;
    width: 96%;
    transform: none;
    margin: 0 auto;
  }

  .barb, .daisy {
    display: block;
    position: unset;
  }

  .email-name, .textarea-button {
    width: 96%;
    margin: 0 auto;
  }
}
/* Portrait tablet and small desktops */
@media (max-width: 1040px) {
  .wrapper {
    max-width: 941px;
    width: 95%;
  }

  .img-header, .header-img-container {
    display: none;
  }

  .logo-container {
    padding-bottom: 35px;
  }

  .ul-container, .ul-container-blog, .ul-container-blog {
    width: 90%;
  }

  .circle {
    width: 15%;
  }

  .circle-img {
    width: 90%;
  }

  .logo-2 {
    margin: 0 auto;
    font-size: 5.3rem;
  }

  .logo-2-container {
    width: 50%;
  }

  .favorite-things {
    flex-direction: column;
  }

  .img-favotrite {
    max-width: 100%;
    margin-left: 0;
  }

  .img-things-container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .bigger-box {
    width: 100%;
    text-align: center;
  }

  .txt-things-container {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

  .img-container {
    background-color: white;
    width: 100%;
  }

  .bucket-container {
    flex-direction: column;
  }

  .txt-buket-container-1 {
    width: 100%;
    text-align: center;
  }

  .txt-bucket-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .img-logo-blog {
    height: 40vh;
  }

  .header-blog {
    height: 50vh;
  }

  .aside {
    width: 38%;
  }

  .email-name, .textarea-button {
    margin: 0 74px auto auto;
  }

  .img-logo-contact {
    height: 40vh;
  }
}
@media (max-width: 1010px) {
  .wrapper {
    max-width: 900px;
    width: 95%;
  }

  .ul-container, .ul-container-blog, .ul-container-blog {
    width: 90%;
  }

  .circle {
    width: 15%;
  }

  .circle-img {
    width: 90%;
  }

  .logo-2 {
    margin: 0 auto;
    font-size: 5.3rem;
  }

  .logo-2-container {
    width: 50%;
  }

  .form-box-contact {
    width: 100%;
  }

  .form-contact {
    width: 450px;
  }

  .social-media-contact .social a .fab {
    font-size: 1.3rem;
  }

  .form-and-social-midia {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
  }

  .social-media-contact {
    margin: 47px 20px auto 20px;
  }

  .bucket-container {
    flex-direction: column-reverse;
  }

  .txt-buket-container-1 {
    width: 100%;
    text-align: center;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

  .img-bucket-container {
    margin-top: 0;
    margin-right: 0;
  }

  .img-container-bucket {
    background-color: #fdfdfd;
    width: 95%;
    transform: none;
    margin: 0 auto;
  }

  .img-bucket {
    width: 100%;
    margin: 0 auto;
  }

  .bucket {
    max-width: 100%;
  }
}
@media (max-width: 870px) {
  .wrapper {
    max-width: 770px;
    width: 95%;
  }

  .form-and-social-midia {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: 0 auto;
  }

  .social-media-contact {
    text-align: center;
  }

  .form-contact {
    width: 100%;
  }

  [type=email] {
    height: 70px;
    width: 100%;
    margin: -5px 5px 35px 0;
  }

  [type=text] {
    height: 70px;
    width: 100%;
    margin: 30px 5px 35px 0;
  }

  .email-mane-contact {
    flex-direction: column;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 860px) {
  .wrapper {
    max-width: 770px;
    width: 95%;
  }

  .circle {
    transform: translate(102px, 0);
  }

  .logo-2 {
    margin: 0 auto;
    font-size: 5rem;
  }

  .logo-2-container {
    width: 100%;
  }

  .logo {
    left: 9%;
  }

  .ul-container, .ul-container-blog {
    width: 95%;
  }

  .img-things {
    left: 50px;
  }

  .img-bucket {
    left: 15px;
  }

  [type=text] {
    height: 70px;
    width: 100%;
    margin: 48px 5px 35px 0;
  }

  .fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram {
    margin-top: 25px;
    margin-right: 36px;
  }

  [type=email], [type=text] {
    width: 100%;
  }
}
/* Landscape phones and down */
@media (max-width: 782px) {
  .wrapper {
    max-width: 490px;
    width: 95%;
  }

  .menu-big-screen, h1 {
    display: none;
  }

  .menu-showup {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: white;
    line-height: 28px;
    border-radius: 14% 14% 35% 35%;
    position: absolute;
    top: 37px;
    right: -20px;
    width: 138px;
    height: 150px;
    transform: translate(21px, 1px);
  }

  .hamburger {
    display: block;
  }

  .hamburger-de-none {
    display: none;
  }

  .hamburger2 {
    display: none;
  }

  .hamburger-de-block {
    display: block;
  }

  .menu-big-screen {
    display: none;
  }

  .navbar {
    color: #e4a436;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 85px;
    max-height: 115px;
    position: relative;
    align-items: self-end;
    margin: 0 0 auto;
    transform: translate(64px, 14px);
    z-index: 50;
  }

  nav ul .fa-minus-square {
    color: white;
    font-size: 2rem;
  }

  nav ul .fa-bars {
    color: white;
    font-size: 2rem;
    display: block;
  }

  .logo-2 {
    font-size: 4.3rem;
    margin-top: 23px;
  }

  .circle {
    transform: translate(-8px, 0);
  }

  .logo {
    left: 2%;
    top: 18%;
  }

  .ul-container, .ul-container-blog {
    position: relative;
    margin: 0 auto;
  }

  .header-blog {
    height: 20vh;
  }

  header {
    height: 242px;
    position: absolute;
  }

  .whos {
    top: 155px;
  }

  .who {
    margin-top: 175px;
  }

  .txt-things-container {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
  }

  .img-things-container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .journey {
    height: auto;
  }

  .form-contact {
    margin: 260px auto auto;
  }

  .social-media-contact {
    margin: 0 auto;
  }

  .img-logo-contact, .img-logo-blog {
    height: 21vh;
    margin-top: -41px;
  }

  .about-willow {
    margin: 280px auto 20px;
  }

  .blog-title {
    font-size: 4rem;
    bottom: -15px;
  }

  .blog-title {
    font-size: 2.2rem;
    bottom: -30px;
  }

  .recent {
    margin: 30px auto 20px;
    width: 100%;
  }

  .img-journey {
    box-shadow: none;
    margin-bottom: 20px;
  }

  .content-container {
    text-align: center;
    flex-direction: column;
  }

  .journey-txt {
    align-items: center;
  }

  .photo-about, .blog-contact {
    width: 60%;
    height: 176px;
    margin-top: -20px;
  }

  .photo-about h3, .blog-contact h3 {
    font-size: 1rem;
  }

  .email-name, .textarea-button {
    margin: 0 auto;
  }

  [type=text] {
    margin: 20px 5px 35px 0;
  }

  [type=email] {
    margin: 6px 5px 35px 0;
  }

  .container-barb, .container-daizy {
    margin: 0 auto 27px;
  }

  .email-name {
    display: flex;
    flex-direction: column;
  }

  footer {
    height: auto;
  }

  .photo-about p, .blog-contact p {
    display: none;
  }

  .container-footer {
    flex-direction: column;
    height: 373px;
    align-content: center;
    align-items: center;
  }

  .photo, .about, .blog, .contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 21px;
  }

  .photo-about, .blog-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .contact a, .blog-contact a, .about a, .photo-about a {
    font-size: 1rem;
  }

  .photo-about, .blog-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .container-footer {
    height: auto;
  }

  .img-gallery-1 {
    display: none;
  }

  .container-footer {
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0px;
  }
}
@media (max-width: 497px) {
  .wrapper {
    max-width: 400px;
    width: 95%;
  }

  .logo-2 {
    font-size: 3.8rem;
  }

  .circle {
    width: 17%;
  }

  .logo-2-container {
    transform: translate(-23px, 0);
  }

  .circle {
    transform: translate(14px, 0);
  }

  .me {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */