html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: #345231;
  width: 100%;
  height: 820px;
}

.img-logo {
  display: flex;
  position: relative;
}

.logo {
  position: absolute;
  top: 35%;
  left: 5%;
  height: 21%;
}

.logo-2 {
  font-size: 7.3rem;
  text-transform: uppercase;
  margin: 0 18px 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.img-header {
  margin-top: 55px;
  box-shadow: 21px 21px white;
}

.blog-body {
  background-color: #f6f6f6;
}

.header-blog {
  height: 60vh;
}

.img-logo-blog {
  height: 50vh;
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.contact-body {
  background-color: #f6f6f6;
}

.img-logo-contact {
  height: 50vh;
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.ul-container, .ul-container-blog {
  display: flex;
  justify-content: space-around;
  width: 70%;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
}

.ul-container-blog {
  height: 10vh;
}

li, .ul-container-blog li {
  list-style: none;
}
li a, .ul-container-blog li a {
  color: #f6f6f6;
}
li a:hover, .ul-container-blog li a:hover {
  color: #e4a436;
}

html {
  font-size: 125%;
}

h1 {
  font-size: 3rem;
  color: #f6f6f6;
}

.logo-2 {
  color: #f6f6f6;
}

h2 {
  font-family: "Abril Fatface", cursive;
  color: #1f1f1f;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 150px;
  margin-bottom: 10px;
}

p {
  color: #1f1f1f;
  font-family: "Montserrat", sans-serif;
  line-height: 32px;
  letter-spacing: 1px;
  font-size: 1rem;
}

a {
  font-family: "Montserrat", sans-serif;
  line-height: 29px;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

i {
  text-align: center;
}

.fas {
  color: #1f1f1f;
  background: #e4a436;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 7px;
}

.blog-title {
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
  letter-spacing: 1px;
  line-height: 92px;
  color: #f6f6f6;
  display: flex;
  align-items: end;
  position: relative;
  bottom: -8px;
}

button {
  color: #1f1f1f;
  background: #e4a436;
  text-transform: uppercase;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 1px;
  font-size: 1rem;
  height: 50px;
  width: 225px;
  border: 1px #e4a436 solid;
  padding: 10px;
  margin-bottom: 55px;
}

button:hover, button:focus {
  background-color: #345231;
  color: #f6f6f6;
  border: 1px #345231 solid;
}

.who {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 540px;
}

.whos {
  background-color: #f6f6f6;
  z-index: -3;
  position: relative;
}

.favorite-things {
  display: flex;
  flex-direction: row;
}

.txt-things-comntainer, .img-things-comntainer {
  height: 400px;
}

.img-things-comntainer p, .txt-things-comntainer h2 {
  width: 100%;
  margin: 30px auto;
}

.txt-things-comntainer {
  margin-left: 750px;
}

.img-things-comntainer {
  position: relative;
}

.img-things {
  position: absolute;
  top: -37px;
}

.green-box {
  background: #709b6b;
  width: 900px;
  height: 400px;
  position: absolute;
  z-index: -1;
  margin-left: -240px;
  margin-top: -17px;
}

.bucket-list {
  display: flex;
  flex-direction: row;
  margin-top: 55px;
}

.img-bucket {
  margin-left: 321px;
  margin-top: 2%;
  position: absolute;
}

.txt-bucket p, .txt-bucket h2 {
  width: 50%;
  margin: 27px -60px;
}

.txt-bucket {
  text-align: end;
}

.box-container-bucket {
  position: absolute;
  margin-top: 4%;
  margin-left: 903px;
}

.content-container {
  display: flex;
  align-items: center;
}

.journey {
  background-color: #f6f6f6;
  padding-top: 80px;
  z-index: -2;
  position: relative;
  height: 525px;
}

.journey-txt {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.journey-image {
  width: 55%;
}

.journey-txt h2 {
  margin-top: 35px;
}

.b-bucket {
  margin-right: 700px;
}

.img-journey {
  box-shadow: 22px 22px #709b6b;
}

.pamo-img {
  width: 100%;
  margin-bottom: 80px;
}

.image-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer {
  background-color: #f6f6f6;
  margin-top: 80px;
  margin-bottom: 0;
  padding-top: 70px;
  height: 55vh;
}

.container-footer {
  display: flex;
  flex-direction: row;
}

.photo-about, .blog-contact {
  width: 70%;
  height: 47vh;
}

.photo-about p, .photo-about h2, .blog-contact p, .blog-contact h2 {
  margin-top: 20px;
  margin-left: 10px;
}

.photo, .about, .blog, .contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

i {
  margin-right: 15px;
}

.p-continer-footer {
  background-color: #1f1f1f;
  text-align: center;
  height: 35px;
  margin: 0;
  padding: 0;
}

.p-footer {
  color: #f6f6f6;
  margin: 0;
}

.footer-blog {
  height: 0;
  margin-top: 0;
}

.footer-contact {
  height: 0;
  margin-top: 0;
}

.form-and-social-midia {
  display: flex;
  flex-direction: row;
}

.social-media-contact {
  margin-top: 46px;
  background: white;
  width: 27%;
  padding: 47px;
  margin-right: auto;
  height: 315px;
}

.social {
  color: #345231;
}

.email {
  font-weight: bold;
}

.address {
  margin: 0;
}

.social {
  text-align: start;
  font-size: 1.4rem;
}

.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram {
  margin-right: 25px;
}

.about-willow {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 28px;
  margin: 81px 20PX 20px;
}

h3 {
  font-family: "Abril Fatface", cursive;
  font-size: 1, 6rem;
  letter-spacing: 1px;
  margin-top: 30px;
  text-transform: uppercase;
}

.about-willow p {
  margin-top: 0;
}

span {
  color: #709b6b;
}

.recent {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 28px;
  margin: 81px 20PX 20px;
}

.recent p {
  margin: 6px;
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

.my-favorite {
  background-color: white;
}

.container-aside-my-favorite {
  display: flex;
  flex-direction: row;
}

aside {
  width: 30%;
}

.my-favorite {
  width: 60%;
  margin: 81px 20PX 20px;
  padding-left: 45px;
  padding-right: 45px;
  border-bottom: 5px solid #709b6b;
}

.img-barb-container, .img-daisy-container {
  width: 50%;
  height: 50%;
  margin: 40px 25px auto 38px;
}

.barb, .daisy {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
  right: 6%;
}

.daisy {
  margin-top: 30px;
}

.container-barb {
  display: flex;
  background: white;
  width: 60%;
}

.container-daizy {
  display: flex;
  background: white;
  width: 60%;
  border-bottom: 5px solid #709b6b;
}

form {
  width: 769px;
  display: flex;
  flex-direction: column;
  margin-left: 405px;
}

.textarea-buttom {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  height: 70%;
  resize: none;
}

.form-b {
  width: 100%;
}

[type=email], [type=text] {
  height: 70px;
  width: 49%;
  margin: 45px 5px 35px 0;
  padding: 10px;
  padding-left: 30px;
}

[id=comment] {
  padding: 30px;
}

.form-b {
  margin-top: 30px;
}

.form-contact {
  display: flex;
  flex-direction: column;
  margin: 0;
}/*# sourceMappingURL=style.css.map */