$color-green: #709b6b;
$color-dgreen: #345231;
$color-dark: #1f1f1f;
$color-white-shade: #f6f6f6;
$color-yellow:#e4a436;
$font-abril:  'Abril Fatface', cursive;
$font-montserrat:'Montserrat', sans-serif;


button, .b-index {
    color: #1f1f1f;
    background: $color-yellow;
    text-transform: uppercase;
    font-family: $font-abril;
    letter-spacing: 1px;
    font-size: 1rem;
    height: 50px;
    width: 225px;
    border: 1px $color-yellow solid;
    padding: 10px;
    margin-bottom: 55px;
}

button:hover, button:focus, .whos-willow .who .find:hover, .find:focus, .b-jorney:hover, .b-jorney:focus, .b-index a:hover, .b-index a:focus  {
    background-color: $color-dgreen;
    color:$color-white-shade;
    border: 1px $color-dgreen solid;
    cursor: pointer;
}



.social-media-contact .social a .fab:hover,
.social-media-contact .social a .fab:hover:focus,
.find:hover, .find:focus   {
    text-align: start;
    color: $color-yellow;
    cursor: pointer;
}

