$color-green: #709b6b;
$color-dgreen: #345231;
$color-dark: #1f1f1f;
$color-white-shade: #f6f6f6;
$color-yellow: e4a436;
$font-abril: font-family 'Abril Fatface', cursive;
$font-montserrat: font-family 'Montserrat', sans-serif;


form {
    width: 769px;
    display: flex;
    flex-direction: column;
    margin-left: 405px;
}
.textarea-button{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 93px auto auto;
}
textarea {
    width: 100%;
    height: 70%;
    resize: none;
}
.form-b{
    width: 100%;
}

[type="email"], [type="text"] {
    height: 70px;
    width: 50%;
    margin: 45px 5px 35px 0;
    padding-left: 30px;
}

.form-container{
    display: flex;
}

[id="comment"]{
    padding: 30px;
}

.email-name{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 93px auto auto;
}

.form-b{
    margin-top: 30px;

}

// contact page form
.form-contact{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.email-mane-contact{
    width: 100%;
    display: flex;
}
