$color-green: #709b6b;
$color-dgreen: #345231;
$color-dark: #1f1f1f;
$color-white-shade: #f6f6f6;
$color-yellow:#e4a436;
$font-abril:  'Abril Fatface', cursive;
$font-montserrat:  'Montserrat', sans-serif;


header {
    background-color: $color-dgreen;
    width: 100%;
    // margin: 0 0 50px 0;
    height: 820px;
}


.img-logo {
    display: flex;
    position: relative;
}

.logo {
    position: absolute;
    top: 35%;
    left: 5%;
    height: 21%;
}

.logo-2{
    font-size: 7.3rem;
    text-transform: uppercase;
    margin: 0 18px 0 auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.img-header {
    margin-top: 50px;
    box-shadow: 21px 21px white;
}