$color-green: #709b6b;
$color-dgreen: #345231;
$color-dark: #1f1f1f;
$color-white-shade: #f6f6f6;
$color-yellow:#e4a436;
$font-abril:  'Abril Fatface', cursive;
$font-montserrat:  'Montserrat', sans-serif;


header {
    background-color: $color-dgreen;
    width: 100%;
}


.logo-container {
    display: flex;
    justify-content: center;
}

.circle, 
.logo-2-container, 
.header-img-container{
    width: 50%;
}

.logo-2-container{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-34px,0);
}


.circle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transform: translate(69px,0);
}


.header-img-container {
    width: 100%;
    margin-bottom: -50px;
}

.img-header {
    box-shadow: 21px 21px white;
}

// =======header og blog=====

.blog-body {
    background-color: $color-white-shade;
}


.header-blog {
    height: 60vh;
}

.img-logo-blog {
    height: 50vh;  
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}


// contact

.contact-body {
    background-color: $color-white-shade;
}

.img-logo-contact {
    height: 50vh;  
    background-image: url(../assets/contact-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

