
@media (max-width: 1394px) {

.wrapper {
    max-width: 1080px;
    width: 95%;
}

// index page
.logo-2{
    font-size: 5.5rem;
    margin-left: 0;
}

.header-img-container{
    margin-right: 93px;
    max-width: 360px;
}


// contact

.form-and-social-midia {
    display: flex;
    flex-direction: column-reverse;
}
.social-media-contact {
    margin-right: auto;
    height: auto;
    display: flex;
    flex-direction: revert;
    width: 100%;
    justify-content: center;
}

.form-contact {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.social{
    align-items: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 10px 10px;
    }

.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram {
    margin-right: 29px;
    margin-top: 14px;
}

}

@media (max-width: 1245px) {

.wrapper {
    max-width: 1000px;
    width: 95%;
}

// index page
.logo-2{
    font-size: 5rem;
    margin-left: 0;
}

.header-img-container{
    margin-right: 93px;
    max-width: 360px;
}


.circle{
transform: translate(-8px, 0);
}

.logo-2-container{
    transform: translate(-69px, 0);
}

.circle, .logo-2-container, .header-img-container {
    width: 36%;
}

.header-img-container {
    margin-right: 152px;
    max-width: 414px;
}

}





/* Portrait tablet and small desktops */
@media (max-width: 1040px) {

.wrapper {
    max-width: 941px;
    width: 95%;
}


.img-header, .header-img-container {
    display: none;
}

.logo-container {
    padding-bottom: 35px;
}


.circle{
    width: 15%;
}

.circle-img{
    width: 90%;
}

.logo-2{
    margin: 0 auto;
    font-size: 6rem;
}

.logo-2-container{
    width: 50%;
}

.ul-container, .ul-container-blog {
    width: 78%;
}

// main index 

}

.favorite-things{
    flex-direction: column;
}

.img-favotrite {
    max-width: 100%;
    margin-left: 0;
}

.img-things-container {
max-width: 95%;
margin-left: auto;
margin-right: auto;
margin-top: 60px;
}

.bigger-box {
    width: 100%;
    text-align: center;
}

.txt-things-container {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.img-container {
    background-color: white;
    width: 100%;
}

.bucket-container {
    flex-direction: column;
}

.txt-buket-container-1 {
    width: 100%;
    text-align: center;
}

.txt-bucket-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}


// blog

.img-logo-blog {
    height: 40vh;
}

.header-blog {
    height: 50vh;
}

.aside {
    width: 38%;
}

.container-barb, .container-daizy{
    width: 60%;
    transform: translate(-12px, 0);
    }

.email-name, .textarea-button{
    margin: 0 74px auto auto;    
}

.img-logo-contact {
    height: 40vh;
}


/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

.wrapper{
    max-width: 770px;
    width: 95%;
}

.logo {
    left: 9%;
}

.ul-container, .ul-container-blog {
    width: 95%;
}

.img-things {
    left: 50px;
}

.img-bucket {
    left: 15px;
}

// contact

[type="email"]{
    height: 70px;
    width: 100%;
    margin: 5px 5px 35px 0;
}

[type="text"] {
    height: 70px;
    width: 100%;
    margin: 48px 5px 35px 0;
}

.social-media-contact{
    width: 67%;
    height: 215px;
}

.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram{
    margin-top: 25px;
    margin-right: 36px;
}


//blog

[type="email"], [type="text"] {
    width: 100%;
}



}
















/* Landscape phones and down */
@media (max-width: 480px) {

.wrapper {
    max-width: 490px;
    width: 95%;

}

.logo-2{
    font-size: 4.3rem;
    margin-top: 23px;
}

.logo {
    left: 2%;
    top: 18%;
}

h1{
    margin-top: 3px;
    top: -40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ul-container, .ul-container-blog {
position: relative;
margin: 72px auto 0 auto;
}

header {
    height: 242px;
    position: absolute;
}

.whos{
    top: 155px;
}

.who{
    height: 610px;
}


.favorite-things{
    margin-top: 183px;
}

.img-things{
    width: 100%;
    position: absolute;
    left: 0px;
}

.img-things-comntainer{
    width: 470px;
    left: -8px;
    bottom: 128px;
    z-index: -10;
}

.img-bucket-container{
    width: 470px;
    left: -8px;
    bottom: 128px;
    height: 70px;
}

.img-bucket{
    text-align: center;
    position: relative;
    top: -171px;
    left: 1px;
    bottom: 70px;
    width: 469px;
}

.txt-bucket p, .txt-bucket h2 {
    margin: 27px auto;
}

.b-bucket {
    margin-right: 0;
}


.txt-bucket {
    text-align: center;
}

.txt-things-comntainer, .img-things-comntainer {
    height: 452px;
    text-align: center;
    position: relative;
    top: -118px;
}




// contact and blog
.form-contact {
    margin: 350px auto auto;
}

.social-media-contact {
    width: 71%;
    height: 235px;
}


.social {
    text-align: start;
    font-size: 1.2rem;
    position: relative;
    top: -41px;
}

.img-logo-contact, .img-logo-blog{
    height: 21vh;
}

.about-willow {
    margin: 390px 20PX 20px;
}

.blog-title{
    font-size: 4rem;
    bottom: -15px;
}

.blog-title {
    font-size: 3rem;
    bottom: -23px;
}

.img-journey{
    box-shadow: none;
    margin-bottom: 20px;
}

.journey {
    height: 825px;
}


.content-container {
    text-align: center;
    flex-direction: column;
}

.journey-txt{
    align-items: center;
}

.photo-about, .blog-contact {
    width: 60%;
    height: 176px;
    margin-top: -20px;
}

.photo-about h3, .blog-contact h3 {
    font-size: 1rem;
}



footer {
    height: 51vh;
}

.photo-about p, .blog-contact p {
    display: none;
}

.container-footer{ 
    
    flex-direction: column;
height: 373px;
align-content: center;
align-items: center;
}

}