



/* Portrait tablet and small desktops */
@media (max-width: 940px) {

.wrapper {
    max-width: 941px;
    width: 95%;
}

.img-header {
    display: none;
}
.ul-container, .ul-container-blog {
    width: 88%;
}

.logo-2{
    margin: 0 auto;
    font-size: 6rem;
}

.logo {
    top: 2%;
    left: 16%;
    height: 87%;
}

header {
    width: 100%;
    height: 320px;
}

.img-logo-contact, .img-logo-blog {
    height: 29vh;
}

.header-blog {
    height: 39vh;
}
.img-things {
    left: 82px;
    margin-top: 50px;
}

.txt-things-comntainer p, .txt-things-comntainer h2 {
    width: 90%;
    margin: 27px 22px;
    text-align: center;
}

.txt-things-comntainer, .img-things-comntainer {
    height: 375px;
    text-align: center;
}

.txt-things-comntainer button {
    margin-left: 0;
}

txt-bucket p, .txt-bucket h2 {
    width: 93%;
}

.txt-bucket {
    text-align: center;
}

.img-things-comntainer {
    background-color:white;
    width: 640px;
    position: unset;
}
.green-box1 {
    width: 0;
    height: 465px;
}

.favorite-things {
    flex-direction: column;
    align-content: center;
}

.bucket-list {
    flex-direction: column-reverse;
    margin-top: 0;
}

.img-bucket {
    position: relative;
    bottom: 70px;
    left: 50px;
}

.img-bucket-container {
    background-color: #ffffff;
    width: 639px;
    height: 300px;
    margin-bottom: 100px;
    }

.green-box2 {
    position: unset;
    margin-top: -90px;
}

.img-bucket-container{
    top: 105px;
    left: 31px;
}

.txt-bucket {
    text-align: start;
    width: 100%;
    margin-top: 60px;
}

.journey-txt {
    margin-top: -42px;
}


.journey {
    height: 555px;
}



.image-gallery img {
    width: 32%;

}

ter{
    margin-top: -30px;
}

.photo-about p, .photo-about h2, .blog-contact p, .blog-contact h2 {
    margin-top: -11px;
    margin-left: 5px;
    width: 98%;
}

p {
    line-height: 27px;
}

.p-continer-footer {
    margin-bottom: 0;
}

// blog

.form-and-social-midia{
    flex-direction: column-reverse;
    align-items: center;
}

.social-media-contact {
    margin-top: 16px;
    height: 193px;
    display: flex;
    justify-content: space-around;
    width: 86%;
    margin-right:0;
}

.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram {
    margin-top: 35px;
}

.address1 {
    margin-top: -50px;
}



// contact

.container-aside-my-favorite {
    flex-direction: column;
}

[id="about"]{
    flex-direction: column;
    display: flex;
    width: 95%;
}

.my-favorite {
    width: 95%;
}

.recent{
    margin: 47px 20PX 20px;
    width: 95%;
    text-align: center;
    }


form {
    margin: 0 auto;
    width: 95%;
}

.container-daizy, .container-barb {
    width: 95%;
}
.barb, .daisy {
    right: 3%;
}

}



/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

.wrapper{
    max-width: 770px;
    width: 95%;
}

.logo {
    left: 9%;
}

.ul-container, .ul-container-blog {
    width: 95%;
}

.img-things {
    left: 50px;
}

.img-bucket {
    left: 15px;
}

// contact

[type="email"]{
    height: 70px;
    width: 100%;
    margin: 5px 5px 35px 0;
}

[type="text"] {
    height: 70px;
    width: 100%;
    margin: 48px 5px 35px 0;
}

.social-media-contact{
    width: 67%;
    height: 215px;
}

.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram{
    margin-top: 25px;
    margin-right: 36px;
}


//blog

[type="email"], [type="text"] {
    width: 100%;
}



}
















/* Landscape phones and down */
@media (max-width: 480px) {

.wrapper {
    max-width: 490px;
    width: 95%;

}

.logo-2{
    font-size: 4.3rem;
    margin-top: 23px;
}

.logo {
    left: 2%;
    top: 18%;
}

h1{
    margin-top: 3px;
    top: -40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ul-container, .ul-container-blog {
position: relative;
margin: 72px auto 0 auto;
}

header {
    height: 242px;
    position: absolute;
}

.whos{
    top: 155px;
}

.who{
    height: 610px;
}


.favorite-things{
    margin-top: 183px;
}

.img-things{
    width: 100%;
    position: absolute;
    left: 0px;
}

.img-things-comntainer{
    width: 470px;
    left: -8px;
    bottom: 128px;
    z-index: -10;
}

.img-bucket-container{
    width: 470px;
    left: -8px;
    bottom: 128px;
    height: 70px;
}

.img-bucket{
    text-align: center;
    position: relative;
    top: -171px;
    left: 1px;
    bottom: 70px;
    width: 469px;
}

.txt-bucket p, .txt-bucket h2 {
    margin: 27px auto;
}

.b-bucket {
    margin-right: 0;
}


.txt-bucket {
    text-align: center;
}

.txt-things-comntainer, .img-things-comntainer {
    height: 452px;
    text-align: center;
    position: relative;
    top: -118px;
}




// contact and blog
.form-contact {
    margin: 350px auto auto;
}

.social-media-contact {
    width: 71%;
    height: 235px;
}


.social {
    text-align: start;
    font-size: 1.2rem;
    position: relative;
    top: -41px;
}

.img-logo-contact, .img-logo-blog{
    height: 21vh;
}

.about-willow {
    margin: 390px 20PX 20px;
}

.blog-title{
    font-size: 4rem;
    bottom: -15px;
}

.blog-title {
    font-size: 3rem;
    bottom: -23px;
}

.img-journey{
    box-shadow: none;
    margin-bottom: 20px;
}

.journey {
    height: 825px;
}


.content-container {
    text-align: center;
    flex-direction: column;
}

.journey-txt{
    align-items: center;
}

.photo-about, .blog-contact {
    width: 60%;
    height: 176px;
    margin-top: -20px;
}

.photo-about h3, .blog-contact h3 {
    font-size: 1rem;
}



footer {
    height: 51vh;
}

.photo-about p, .blog-contact p {
    display: none;
}

.container-footer{
    flex-direction: column;
height: 373px;
align-content: center;
align-items: center;
}



}
