
@media (max-width: 1394px) {

.wrapper {
    max-width: 1091px;
    width: 95%;
}

// index page
.logo-2{
    font-size: 5.5rem;
    margin-left: 0;
}

.header-img-container{
    margin-right: 93px;
    max-width: 360px;
}


//contact


.social-media-contact {
    padding: 22px;
    height: 340px;
    background: white;
    margin: 47px 20px auto 0;
}

.form-and-social-midia {
    flex-direction: row;
    width: 92%;
    margin: 0 auto;
}


.form-contact {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-right: 46px;
    width: 735px;
}

.social{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    }

.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram {
    margin-right: 29px;
    margin-top: 14px;
}
}


@media (max-width: 1245px) {

.wrapper {
    max-width: 1000px;
    width: 95%;
}

// index page
.logo-2{
    font-size: 5rem;
    margin-left: 0;
}

.header-img-container{
    margin-right: 93px;
    max-width: 360px;
}


.circle{
transform: translate(-8px, 0);
}

.logo-2-container{
    transform: translate(-69px, 0);
}

.circle, .logo-2-container, .header-img-container {
    width: 36%;
}

.header-img-container {
    margin-right: 152px;
    max-width: 414px;
}

.social {
    display: flex;
}

.form-contact {
    margin-right: 46px;
}

.form-contact {
    width: 710px;
}

.container-aside-my-favorite {
    display: flex;
    flex-direction: column;
}

.about-willow {
    flex-direction: column;
    padding: 40px;
    margin: 40px auto;
    width: 100%;
    text-align: center;
}

aside {
    width: 100%;
    text-align: center;
}

.b-blog {
    margin: 0 auto;
}

.my-favorite {
    width: 96%;
    margin: 0 auto 30px;
}

.container-barb, .container-daizy {
    display: flex;
    width: 96%;
    transform: none;
    margin: 0 auto;

}

.barb, .daisy {
    display: block;
    position: unset;
}

.email-name, .textarea-button {
    width: 96%;
    margin: 0 auto;
}

}



/* Portrait tablet and small desktops */
@media (max-width: 1040px) {

.wrapper {
    max-width: 941px;
    width: 95%;
}


.img-header, .header-img-container {
    display: none;
}

.logo-container {
    padding-bottom: 35px;
}

.ul-container, .ul-container-blog, .ul-container-blog {
    width: 90%;
}

.circle{
    width: 15%;
}

.circle-img{
    width: 90%;
}

.logo-2{
    margin: 0 auto;
   font-size: 5.3rem;
}

.logo-2-container{
    width: 50%;
}


// main index 


.favorite-things{
    flex-direction: column;
}

.img-favotrite {
    max-width: 100%;
    margin-left: 0;
}

.img-things-container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.bigger-box {
    width: 100%;
    text-align: center;
}

.txt-things-container {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.img-container {
    background-color: white;
    width: 100%;
}

.bucket-container {
    flex-direction: column;
}

.txt-buket-container-1 {
    width: 100%;
    text-align: center;
}

.txt-bucket-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

// blog

.img-logo-blog {
    height: 40vh;
}

.header-blog {
    height: 50vh;
}

.aside {
    width: 38%;
}



.email-name, .textarea-button{
    margin: 0 74px auto auto;    
}

.img-logo-contact {
    height: 40vh;
}
}


@media (max-width: 1010px) {

.wrapper {
    max-width: 900px;
    width: 95%;
}


.ul-container, .ul-container-blog, .ul-container-blog {
    width: 90%;
}

.circle{
    width: 15%;
}

.circle-img{
    width: 90%;
}

.logo-2{
    margin: 0 auto;
    font-size: 5.3rem;
}

.logo-2-container{
    width: 50%;
}



.form-box-contact{
    width: 100%;
}

.form-contact {
    width: 450px;
}

.social-media-contact .social a .fab {
    font-size: 1.3rem;
}

.form-and-social-midia {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

.social-media-contact {
    margin: 47px 20px auto 20px;
}

.bucket-container {
    flex-direction: column-reverse;
}

.txt-buket-container-1 {
    width: 100%;
    text-align: center;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
}
.img-bucket-container {
    margin-top: 0;
    margin-right: 0;
}

.img-container-bucket {
    background-color: #fdfdfd;
    width: 95%;
    transform: none;
    margin: 0 auto;
}

.img-bucket {
    width: 100%;
    margin: 0 auto;
}

.bucket {
    max-width: 100%;
}

}


@media (max-width: 870px) {

.wrapper{
    max-width: 770px;
    width: 95%;
}

.form-and-social-midia {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: 0 auto;
}

.social-media-contact {
    text-align: center;
}

.form-contact {
    width: 100%;
}

[type="email"] {
    height: 70px;
    width: 100%;
    margin: -5px 5px 35px 0;
}


[type="text"] {
    height: 70px;
    width: 100%;
    margin: 30px 5px 35px 0;
}

.email-mane-contact {
    flex-direction: column;
}

}

/* Landscape phone to portrait tablet */
@media (max-width: 860px) {

.wrapper{
    max-width: 770px;
    width: 95%;
}

.circle {
    transform: translate(102px, 0);
}

.logo-2 {
    margin: 0 auto;
    font-size: 5rem;
}

.logo-2-container {
    width: 100%;
}

.logo {
    left: 9%;
}

.ul-container, .ul-container-blog {
    width: 95%;
}

.img-things {
    left: 50px;
}

.img-bucket {
    left: 15px;
}

// contact


[type="text"] {
    height: 70px;
    width: 100%;
    margin: 48px 5px 35px 0;
}


.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram{
    margin-top: 25px;
    margin-right: 36px;
}

//blog

[type="email"], [type="text"] {
    width: 100%;
}
}


/* Landscape phones and down */
@media (max-width: 782px) {

.wrapper {
    max-width: 490px;
    width: 95%;

}

.menu-big-screen, h1 {
    display: none;
}


.menu-showup{
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    color: white;
    line-height: 28px;
    border-radius: 14% 14% 35% 35%;
    position: absolute;
    top: 37px;
    right: -20px;
    width: 138px;
    height: 150px;
    transform: translate(21px, 1px);
}

.hamburger {
    display: block;
}

.hamburger-de-none {
    display: none;
}


.hamburger2 {
    display: none;

}



.hamburger-de-block {
    display: block;
}

.menu-big-screen {
    display: none;
}

.navbar{
    color: $color-yellow;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 85px;
    max-height: 115px;
    position: relative;
    align-items: self-end;
    margin: 0 0 auto;
    transform: translate(64px, 14px);
    z-index: 50;
}


nav {
    ul{
        .fa-minus-square {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    // display: block;
}
    }
}



nav {
    ul {
    .fa-bars {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    display: block;
    // justify-content: center;
} 
    }
}


.logo-2{
    font-size: 4.3rem;
    margin-top: 23px;
}

.circle {
    transform: translate(-8px, 0);
}

.logo {
    left: 2%;
    top: 18%;
}

// h1{
//     margin-top: 3px;
//     top: -40px;
//     position: absolute;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

.ul-container, .ul-container-blog {
    position: relative;
    // margin: 72px auto 0 auto;
    margin: 0 auto;
}

.header-blog {
    height: 20vh;
}

header {
    height: 242px;
    position: absolute;
}

.whos{
    top: 155px;
}

.who{
    margin-top: 175px;
}

.txt-things-container {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.img-things-container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.journey {
    height: auto;
}



// contact and blog
.form-contact {
    margin: 260px auto auto;
}

.social-media-contact {
    margin: 0 auto;
}

.img-logo-contact, .img-logo-blog{
    height: 21vh;
    margin-top: -41px;
}

.about-willow {
    margin: 280px auto 20px;
}

.blog-title{
    font-size: 4rem;
    bottom: -15px;
}

.blog-title {
    font-size: 2.2rem;
    bottom: -30px;
    }

.recent {
    margin: 30px auto 20px;
    width: 100%;
}

.img-journey{
    box-shadow: none;
    margin-bottom: 20px;
}


.content-container {
    text-align: center;
    flex-direction: column;
}

.journey-txt{
    align-items: center;
}

.photo-about, .blog-contact {
    width: 60%;
    height: 176px;
    margin-top: -20px;
}

.photo-about h3, .blog-contact h3 {
    font-size: 1rem;
}

.email-name, .textarea-button {
    margin: 0 auto;
}

[type="text"] {
    margin: 20px 5px 35px 0;
}

[type="email"] {
    margin: 6px 5px 35px 0;
}

.container-barb, .container-daizy {
    margin: 0 auto 27px;
}

.email-name {
    display: flex;
    flex-direction: column;
}

footer {
    height: auto;
}

.photo-about p, .blog-contact p {
    display: none;
}

.container-footer{ 
    flex-direction: column;
    height: 373px;
    align-content: center;
    align-items: center;
}

.photo, .about, .blog, .contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 21px;
}

.photo-about, .blog-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contact a, .blog-contact a, .about a, .photo-about a {
    font-size: 1rem;
}

.photo-about, .blog-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.container-footer {
    height: auto;
}

.img-gallery-1 {
    display: none;
}

.container-footer {
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0px;
}
}

@media (max-width: 497px) {

.wrapper {
    max-width: 400px;
    width: 95%;

}
.logo-2 {
    font-size: 3.8rem;
}

.circle {
    width: 17%;
}

.logo-2-container {
    transform: translate(-23px, 0);
}

.circle {
    transform: translate(14px, 0);
}

.me {
    display: none;
}

}