$yellow-light-color-green: #709b6b;
$color-dgreen: #345231;
$color-dark: #1f1f1f;
$color-white-shade: #f6f6f6;

.ul-container {
display: flex;
justify-content: space-around;
width: 50%;
align-items: center;
align-content: center;
margin: 0 auto;
padding: 0;
}

li {
    list-style: none;
    
    a{
        text-decoration: none;
    }
}
