$yellow-light-color-green: #709b6b;
$color-dgreen: #345231;
$color-dark: #1f1f1f;
$color-white-shade: #f6f6f6;
$color-yellow:#e4a436;
$font-abril:  'Abril Fatface', cursive;
$font-montserrat:'Montserrat', sans-serif;

.menu-Li, .hamburger {
    display: none;
    cursor:  pointer;
    background: none;
}


.ul-container, .ul-container-blog {
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding: 0;
}

.ul-container-blog{
    height: 10vh;
}


li, .ul-container-blog li {
    list-style: none;
    
    a{
        color: $color-white-shade;
        transition: 0.5s ease;
    }

    a:hover {
        color: $color-yellow;
    }
}


.fa-bars:hover{
    color: $color-yellow;
}

.fa-bars{
    transition: 0.5s ease;
}



