$yellow-light-color-green: #709b6b;
$color-dgreen: #345231;
$color-dark: #1f1f1f;
$color-white-shade: #f6f6f6;
$color-yellow:#e4a436;
$font-abril:  'Abril Fatface', cursive;
$font-montserrat:'Montserrat', sans-serif;


// ===============gallery-------

.pano-img{
    width: 100%;
    margin-bottom: 80px;
}
.image-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-gallery-1, .img-gallery-2, .img-gallery-3{
    width: 100%;
    padding: 10px;
}

//social-media-contact

.form-and-social-midia {
    display: flex;
    flex-direction: row;
}


.social-media-contact {
    margin-top: 47px;
    background: white;
    width: 24%;
    padding: 29px;
    margin-right: auto;
    height: 340px;
}

.social-media-contact{
    .social{
        a{
            .fab{
                    text-align: start;
                    font-size: 1.4rem;
                    color: $color-dgreen;
            }
        }
    }
} 

.email {
    font-weight: bold;
}
.address {
    margin: 0;
}


.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-instagram {
    margin-right: 20px;
}