$yellow-light-color-green: #709b6b;
$color-dgreen: #345231;
$color-dark: #1f1f1f;
$color-white-shade: #f6f6f6;
$color-yellow:#e4a436;
$font-abril:  'Abril Fatface', cursive;
$font-montserrat:'Montserrat', sans-serif;

.who {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;

}


.whos {
    background-color: $color-white-shade;
    padding-top: 110px;
}

