$yellow-light-color-green: #709b6b;
$color-dgreen: #345231;
$color-dark: #1f1f1f;
$color-white-shade: #f6f6f6;
$color-yellow:#e4a436;


// $font-abril:font-family: 'Abril Fatface', cursive;
// $font-montserrat:font-family: 'Montserrat', sans-serif;

h3, h2 {
    color:$color-white-shade
}

p {
    color: $color-dark;
}

i {
    text-align: center;
}

.fas{
    color: $color-dark;
    background: $color-yellow;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 9px;
}


// .photo {
//     text-align: center;
// }