$yellow-light-color-green: #709b6b;
$color-dgreen: #345231;
$color-dark: #1f1f1f;
$color-white-shade: #f6f6f6;
$color-yellow:#e4a436;
$font-abril:  'Abril Fatface', cursive;
$font-montserrat:  'Montserrat', sans-serif;

html {
    font-size: 125%;
}

h1 {
    font-size: 3rem;
    color:$color-white-shade
}

.logo-2 {
    color:$color-white-shade;
}

h2 {
    font-family: $font-abril;
    color: $color-dark;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 150px;
    margin-bottom: 10px;
}

p {
    color: $color-dark;
    font-family: $font-montserrat;
    line-height: 32px;
    letter-spacing: .7px;
    font-size: 1rem;
}

a{
    font-family: $font-montserrat;
    line-height: 29px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
}


i {
    text-align: center;
}

.fas{
    color: #1f1f1f;
    background: #e4a436;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 13px;
}

// =====blog


.blog-title {
    font-family: $font-abril;
    font-size: 5rem;
    letter-spacing: 1px;
    line-height: 92px;
    color: $color-white-shade;
    display: flex;
    align-items: end;
    position: relative;
    bottom: -8px;
}

.contact a, .blog-contact a, .about a, .photo-about a  {
    font-size: 1.5rem;
    font-family: $font-abril;
    color: $color-dark;
    text-transform: uppercase;
}

.contact a:hover, .blog-contact a:hover, .about a:hover, .photo-about a:hover  {
    color: $yellow-light-color-green;
}
