$color-green: #709b6b;
$color-dgreen: #345231;
$color-dark: #1f1f1f;
$color-white-shade: #f6f6f6;
$color-yellow: e4a436;
$font-abril: font-family 'Abril Fatface', cursive;
$font-montserrat: font-family 'Montserrat', sans-serif;



@import './setup.scss';


body{
    margin: 0;
}


html {
    font-size: 125%;    
}

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    padding: 0;
}


@import './header.scss';

@import './section-whos-willow.scss';

@import './favorite-things.scss';

@import './bucket-list.scss';

@import './nav.scss';

@import './typography.scss';

@import './button.scss';

@import './sections.scss';

@import './aside.scss';

@import './contact';

@import './form.scss';

@import './footer.scss';

@import './willow-journey';

@import './media-queries.scss';


